<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/about.css">
    <script src="../static/styles/index.js"></script> 
    <title>@maxwalks</title>
</head>
<body>
    <div class="taskbar">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">&#9776; Menu</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="/" class="btn">Home</a>
              <a href="/about" class="btn">About Me</a>
              <a href="/services" class="btn2">Services</a>
            </div>
        </div>
    </div>
    <div class="top">
        <h1 class="name">MAXWALKS</h1>
        <img src="../static/assets/logo.jpg" alt="thief" class="logo">
    </div>
    <h2 class="glow-text">Experience</h2>
    <div class="row">
        <img src="../static/assets/html-logo.png" alt="HTML" class="html-logo">
        <img src="../static/assets/css-logo.png" alt="CSS" class="css-logo">
        <img src="../static/assets/python-logo.png" alt="Python" class="python-logo">
    </div>
    <a href="mailto:maxwalks@maxwalks.xyz">
        <button class="hire-button">Hire Me</button>
    </a>
</body>
</html>