<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>portfolio</title>
</head>
<body>
    <div class="top">
        <h1 class="name">MAXWALKS</h1>
        <img src="../static/assets/logo.jpg" alt="thief" class="logo">
    </div>
    <div class="banners">
        <a href="https://github.com/maxwalks">
            <img src="../static/assets/github-logo.png" alt="github-logo" class="github-logo">
        </a>
        <a href="https://www.tiktok.com/@maxwalkss">
            <img src="../static/assets/tiktok-logo.png" alt="tiktok-logo" class="tiktok-logo">
        </a>
        <a href="https://discord.gg/8VqjMS7znR">
            <img src="../static/assets/discord_logo.png" alt="discord-logo" class="discord-logo">
        </a>
    </div>
</body>
</html>