<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/services.css">
    <script src="../static/styles/index.js"></script> 
    <title>@maxwalks</title>
</head>
<body>
    <div class="taskbar">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">&#9776; Menu</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="/" class="btn">Home</a>
              <a href="/about" class="btn">About Me</a>
              <a href="/services" class="btn2">Services</a>
            </div>
        </div>
    </div>
    <div class="top">
        <h1 class="name">MAXWALKS</h1>
        <img src="../static/assets/logo.jpg" alt="thief" class="logo">
    </div>
    <div class="row">
        <div class="block">
            <h2 class="text-header">Custom Discord <br>Bot</h2>
            <ul class="unordered-list">
                <li>High Quality</li>
                <li>Easy to use</li>
                <li>Reliable</li>
            </ul>
            <a href="mailto:maxwalks@maxwalks.xyz">
                <button class="hire-button2">Hire Me</button>
            </a>
        </div>
        <div class="block">
            <h2 class="text-header">Custom website <br>portfolio</h2>
            <ul class="unordered-list2">
                <li>Customizable design</li>
                <li>Personalized portfolio</li>
                <li>Tailored features</li>
            </ul>
            <a href="mailto:maxwalks@maxwalks.xyz">
                <button class="hire-button">Hire Me</button>
            </a>
        </div>
    </div>
</body>
</html>