* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
    text-align: center;
}

html {
    overflow: hidden;
}

.logo {
    position: relative;
    height: 80px;
    border-radius: 150px;
    top: -210px;
    color: #414851;
    filter: drop-shadow(#414851 1px 0 7px);
}

.name {
    position: relative;
    top: -80px;
    font-weight: 600;
    color: #fafafa;
    filter: drop-shadow(#fafafa 1px 0 7px);
}

body {
  margin-top: 13.5rem;
  color: #999;
  text-align: center;
  background-image: url("../assets/bg.png");
}

.taskbar {
    display: block;
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
}


.home-button {
    font-weight: 600;
    text-decoration: none;
    position: absolute;
    color: #fafafa;
    filter: drop-shadow(#fafafa 1px 0 7px);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: center;
    row-gap: 11px;
    transition: font-size 0.3s;
    left: 0;
    padding: 1%;
}

.about-button {
    font-weight: 600;
    text-decoration: none;
    position: absolute;
    color: #fafafa;
    filter: drop-shadow(#fafafa 1px 0 7px);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: center;
    row-gap: 11px;
    transition: font-size 0.3s;
    right: 0;
    padding: 1%;
}

.about-button:hover, .home-button:hover {
    font-size: 17px;
}

.glow-text {
    display: block;
    text-decoration: none;
    font-weight: 850;
    color: #fafafa;
    filter: drop-shadow(#fafafa 1px 0 7px);
    margin-top: -15px;
    padding-bottom: 60px;
    margin-right: 17px;
}

.row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    width: 100%;
    gap: 20px;
}

.html-logo {
    height: 3.5em;
    color: #EA4122;
    filter: drop-shadow(#EA4122 1px 0 7px);
    transition: font-size 0.3s;
}

.python-logo {
    height: 4em;
    color: #FFD457;
    filter: drop-shadow(#FFD457 1px 0 7px);
    transition: font-size 0.3s;
}

.css-logo {
    height: 4.5em;
    color: #0277BD;
    filter: drop-shadow(#0277BD 1px 0 7px);
    transition: font-size 0.3s;
}

.hire-button {
    margin-top: 120px;
    border-color: #fafafa;
    background: transparent;
    font-family: 'Satoshi', sans-serif;
    color: #fafafa;
    padding: 5px 10px 5px 10px;
    outline: none;
    border: 2px solid #fafafa;
    border-radius: 10px;
    font-weight: 600;
    color: #fafafa;
    filter: drop-shadow(#fafafa 1px 0 7px);
    transition: background-color 0.5s;
    transition: color 0.5s;
}

.hire-button:hover {
    cursor: pointer;
    background-color: #fafafa;
    color: #414851;
}